



<div class="container" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>

                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="email" ng-model="auth.email">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="password" ng-model="auth.password">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-block btn btn-success" ng-click="auth.login()">Entrar</button>
                        </div>
                        <div class="panel-footer">
                    		<a class="btn btn-link btn-block" ui-sref="register">No tiene una Cuenta?</a>
                		</div><br>
                    </form>

                     <div class="col-sm-12">
                     <button class="btn btn-block btn-primary" ng-click="authenticate('facebook')">Entrar con Facebook</button><br>
                     <button class="btn btn-block btn-danger"  ng-click="authenticate('google')">Entrar con Google</button><br>
                     <button class="btn btn-block btn-info"    ng-click="authenticate('twitter')">Entrar con Twitter</button><br>
                     
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
